Source: libopx-nas-platform-s6000
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,autotools-dev,libopx-common-dev,libopx-base-model-dev,libopx-cps-dev,libopx-logging-dev,opx-ndi-api-dev
Standards-Version: 3.9.3

Package: libopx-nas-platform-s6000-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Network Abstraction s6000 Platform specific files and implementation
